# @format

name: Release to npm and GitHub

on:
  push:
    branches:
      - main
      - beta
    tags:
      - 'v*.*.*' # stable
      - 'v*-beta.*' # beta pre-releases

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install
